body {
 background-color: rgb(49, 49, 49); 
 font-family: Arial;
 color: white;
}

.watchtube-button {
  text-align: top;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

.WatchTube {
  color: white;
  display: inline-block;
  position: relative; top: -8px; left: -20px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.search-bar {
  position: relative; left: 300px; top: -50px;
  background-color: transparent; 
  border: 1px solid;
  border-color: grey;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px;
  color: white;
  width: 500px;
  outline: none;
}
.title {
  margin-top: 10px;
  width: 200px;
}